*.DS_Store
Metaperson2.0.xcodeproj/project.xcworkspace/xcshareddata
Metaperson2.0.xcodeproj/project.xcworkspace/xcuserdata
Metaperson2.0.xcodeproj/xcuserdata
GLTF/GLTF.xcodeproj/xcuserdata
MetaPerson.xcworkspace/xcuserdata
*.xcuserstate
